*.exe
*.un~
*.gitignore~
*.go~
*.swp
.env
.env*
results/*
.vscode/*
*.java
repos/*
*.txt
*.class
coverage/*
jacoco.exec
go-repo-downloader
*.exec
*.html
.gradle
logs.txt
findFilesByName
db.sh
async-profiler-2.5.1-linux-x64/
profiler-bkp
logs/*
perfrt.jfr
perfrt.json
perfrt.log
.releases
profile*
